.image-border {
  margin-left: 10px;
  margin-bottom: 20px;
  width: 250px;
  position: relative;
  height: 250px;
  img.page {
    width: 250px;
    height: 250px;
    box-shadow:  0 0 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px  rgba(0,0,0,0.6);
  }
  img.preview {
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
  }
}

.main-content {
  background-color: gray;
  max-width: 1000px;
  margin: auto;
}

.progress-wrapper {
  padding: 0px 10px;
}

.progress-label {
  text-align: center;
  width: 100%;
}

mat-progress-bar {
  height: 20px;
}

.main {
  background-color: gray;
  position: relative;
}
.content {
  background-color: gray;
  padding: 30px;
}

.box {
  background-color: white;
  text-align: center;
  height: auto;
  padding-bottom: 40px;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

}

.upload-box {
  background-color: white;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 54px 100px;
}

.form-box {
  background-color: white;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-content, .container {
  padding: 54px 100px;
}

.submit-button {
  height: 60px;
  margin-top: 45px;
  padding: 12px 90px;
  background-color: #337CD1;
}

.upload-button {
  text-align: center;
  padding-top: 10px;
  margin-top: 4px;
  background-color: white;
  border-color: gray;
  height: 40px;
  box-shadow:  0 2px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  border-radius: 5px;

}

#no-deco:hover,
#no-deco:focus {
    color: #646464;
}


.red {
  color: #FF0000;
}

.bold {
  font-weight: bold;
}

.right-label {
  position: relative;
  bottom: 8px;
}

mat-form-field {
  width: 80%;
}

.checkbox-container {
  padding-top: 18px;
}


.upload-title {
  height: 50px;
  background-color: #19609D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
  padding-top: 13px;
}

td {
  font-weight: bold;
  font-size: 18px;
  padding: 15px 30px;
}
.table .text-right {
  text-align: right
}
.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}

.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th {
  background-color: #F7F7F7;
}
.table>tbody>tr:nth-child(even)>td,
.table>tbody>tr:nth-child(even)>th {
  background-color: #EAEAEA;
}

.remove-box {
  height: 80px;
  text-align: right;
}
.remove-box>button {
  margin-top: 13px;
  margin-right: 25px;
  width: 250px;
  height: 40px;
}
