master_only: &master_only
  filters:
    branches:
      only: master
version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.15.3
  aws-ecs: circleci/aws-ecs@2.0.0
jobs:
  build:
    docker:
      - image: circleci/node:14.16-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - dependencies-
      - run:
          name: install-dependencies
          command: yarn install
      - save_cache:
          paths:
            - ~/.cache/yarn
            - ./node_modules
          key: dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: angular-build
          command: yarn ng build --prod --aot --no-progress
      - setup_remote_docker:
          version: 19.03.13
      - aws-ecr/build-and-push-image:
          repo: building-web
          tag: 'latest,${CIRCLE_SHA1}'
          checkout: false
      - aws-ecs/update-service:
          cluster-name: 'cluster-1'
          container-image-name-updates: 'container=building-web,tag=${CIRCLE_SHA1}'
          family: 'building-web'

workflows:
  version: 2.1
  main:
    jobs:
      - build:
          <<: *master_only
