master_only: &master_only
  filters:
    branches:
      only: master
develop_only: &develop_only
  filters:
    branches:
      only: develop
version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.15.3
jobs:
  build:
    docker:
      - image: circleci/node:14.16-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - dependencies-
      - run:
          name: install-dependencies
          command: yarn install
      - save_cache:
          paths:
            - ~/.cache/yarn
            - ./node_modules
          key: dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: set env for building
          command: |
            [ "$CIRCLE_BRANCH" == "master" ] && SERVER_ENV=production || SERVER_ENV=staging
      - run:
          name: set env for image name
          command: |
            [ "$CIRCLE_BRANCH" == "master" ] && IMAGE_NAME=building-web || IMAGE_NAME=building-web-staging
      - run:
          name: angular-build
          command: |
            yarn ng build --configuration=$SERVER_ENV --aot --no-progress
      - setup_remote_docker:
          version: 19.03.13
      - aws-ecr/build-and-push-image:
          repo: '${IMAGE_NAME}'
          tag: 'latest,${CIRCLE_SHA1}'
          checkout: false
  deploy:
    machine:
      enabled: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "98:9b:ef:8b:7b:07:6f:df:09:3b:a7:ea:6d:c5:4f:e1"
      - run:
          name: Deploy to EC2 via SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "cd /home/ubuntu/building/building-web/ && docker-compose down && docker-compose pull && docker-compose up -d"
  deploy-staging:
    machine:
      enabled: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "98:9b:ef:8b:7b:07:6f:df:09:3b:a7:ea:6d:c5:4f:e1"
      - run:
          name: Deploy to Staging EC2 via SSH
          command: |
            ssh $SSH_USER@$SSH_STAGING_HOST "cd /home/ubuntu/building/building-web/ && docker-compose down && docker-compose pull && docker-compose up -d"

workflows:
  version: 2.1
  main:
    jobs:
      - build
      - deploy:
         requires:
           - build
         <<: *master_only
      - deploy-staging:
         requires:
           - build
         <<: *develop_only
