div.footer {
  background-color: #2E2E2E;
  height: 60px;
  ul {
    list-style-type: none;
    margin: 0 auto;
    width: 603px;
    padding: 0;
    overflow: hidden;
    li {
      float: left;
      color: white;
      a {
        height: 60px;
        display: block;
        color: white;
        text-align: center;
        padding: 18px 20px;
      }
    }
  }
}

.husky-logo {
  font-family: HelveticaNeue-CondensedBold, Helvetica Neue;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

