.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sidenav-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  .mat-list-base {
    padding-top: 0px;
  }
  .sidenav {
      min-width: 240px;
      .mat-list-item.active {
        background-color: #f7f7f7;
      }
      a {
          display: block;
          width: 100%;
          text-align: left;
      }
  }
  main {
      padding: 18px 24px;
  }
}



.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

mat-form-field.ng-invalid.ng-touched {
  -webkit-animation: bigger;
          animation: bigger;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin-bottom: 17px;
}

@-webkit-keyframes bigger {
  from {margin-bottom: 0;}
  to {margin-bottom: 17px;}
}

@keyframes bigger {
  from {margin-bottom: 0;}
  to {margin-bottom: 17px;}
}

mat-form-field.ng-valid.ng-touched {
  -webkit-animation: smaller;
          animation: smaller;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin-bottom: 0px;
}

@-webkit-keyframes smaller {
  from {margin-bottom: 17px;}
  to {margin-bottom: 0;}
}

@keyframes smaller {
  from {margin-bottom: 17px;}
  to {margin-bottom: 0;}
}

mat-error {
  text-align: left;
}

mat-toolbar {
  height: 100%;
}
