<mat-card>
  <mat-card-content>
    <form action="" #form="ngForm" (ngSubmit)="update()">
      <h2>パスワード変更</h2>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
      <mat-form-field class="full-width-input" appearance='outline'>
        <mat-label>現在のパスワード</mat-label>
        <input matInput placeholder="現在のパスワード" [(ngModel)]='user.oldPassword' type="password"
            pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50})"
            id="oldPassword" name="oldPassword" required #oldPassword="ngModel">
          <mat-error *ngIf="(oldPassword.touched || form.submitted) && oldPassword.hasError('required')" class="invalid-feedback required">
            現在のパスワードは必須です。
          </mat-error>
          <mat-error *ngIf="(oldPassword.touched || form.submitted) && oldPassword.hasError('pattern')" class="invalid-feedback required">
            アルファベットの大文字、英字小文字を使用し、かつ数字か記号を組み合わせた8～50文字で入力してください。
          </mat-error>
          <mat-error *ngIf="oldPassword.hasError('invalid')" class="invalid-feedback required">
            現在のパスワードが無効です。
          </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance='outline'>
        <mat-label>新しいパスワード</mat-label>
        <input matInput placeholder="新しいパスワード" [(ngModel)]='user.newPassword' type="password"
            pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50})"
            validateEqual='confirmPassword' reverse='true'
            id="newPassword" name="newPassword" required #newPassword="ngModel">
          <mat-error *ngIf="(newPassword.touched || form.submitted) && newPassword.hasError('required')" class="invalid-feedback required">
            新しいパスワードは必須です。
          </mat-error>
          <mat-error *ngIf="(newPassword.touched || form.submitted) && newPassword.hasError('pattern')" class="invalid-feedback required">
            アルファベットの大文字、英字小文字を使用し、かつ数字か記号を組み合わせた8～50文字で入力してください。
          </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance='outline'>
        <mat-label>新しいパスワード(確認)</mat-label>
        <input matInput placeholder="新しいパスワード(確認)" [(ngModel)]='user.confirmPassword' type="password"
                validateEqual='newPassword'
                id="confirmPassword" name="confirmPassword" required #confirmPassword="ngModel">
          <mat-error *ngIf="(confirmPassword.touched || form.submitted) && confirmPassword.hasError('required')" class="invalid-feedback required">新しいパスワード(確認)は必須です。</mat-error>
          <mat-error *ngIf="(confirmPassword.touched || form.submitted) && !confirmPassword.hasError('required') && confirmPassword.hasError('validateEqual')" class="invalid-feedback required">
            確認用パスワードと一致しません。
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('invalid')" class="invalid-feedback required">Invalid Confirm New Password</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button class="submit-button" [disabled]='isUpdating' color="primary">
        <mat-spinner *ngIf="isUpdating" diameter="28" matSuffix></mat-spinner>
        <span *ngIf="!isUpdating">変更</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<div class='footer'>
  <app-footer></app-footer>
</div>
