<mat-card>
  <mat-card-content>
    <form action="" #form="ngForm" (ngSubmit)="update()">
      <h2>Change Password</h2>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Old Password" [(ngModel)]='user.oldPassword' type="password"
            pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,50})"
            id="oldPassword" name="oldPassword" required #oldPassword="ngModel">
          <mat-error *ngIf="(oldPassword.touched || form.submitted) && oldPassword.hasError('required')" class="invalid-feedback required">
            Old Password is required.
          </mat-error>
          <mat-error *ngIf="(oldPassword.touched || form.submitted) && oldPassword.hasError('pattern')" class="invalid-feedback required">
            Password must be between 8 and 50 characters. Password must contain at least upper and lower case words, as well as numbers and special characters.
          </mat-error>
          <mat-error *ngIf="oldPassword.hasError('invalid')" class="invalid-feedback required">
            Invalid Old Password.
          </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="New Password" [(ngModel)]='user.newPassword' type="password"
            pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,50})"
            validateEqual='confirmPassword' reverse='true'
            id="newPassword" name="newPassword" required #newPassword="ngModel">
          <mat-error *ngIf="(newPassword.touched || form.submitted) && newPassword.hasError('required')" class="invalid-feedback required">
            New Password is required.
          </mat-error>
          <mat-error *ngIf="(newPassword.touched || form.submitted) && newPassword.hasError('pattern')" class="invalid-feedback required">
            Password must be between 8 and 50 characters. Password must contain at least upper and lower case words, as well as numbers and special characters.
          </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Confirm New Password" [(ngModel)]='user.confirmPassword' type="password"
                validateEqual='newPassword'
                id="confirmPassword" name="confirmPassword" required #confirmPassword="ngModel">
          <mat-error *ngIf="(confirmPassword.touched || form.submitted) && confirmPassword.hasError('required')" class="invalid-feedback required">Confirm Password is required.</mat-error>
          <mat-error *ngIf="(confirmPassword.touched || form.submitted) && !confirmPassword.hasError('required') && confirmPassword.hasError('validateEqual')" class="invalid-feedback required">
            Confirm New Password does not match.
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('invalid')" class="invalid-feedback required">Invalid Confirm New Password</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Update</button>
    </form>
  </mat-card-content>
</mat-card>
