/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field.ng-invalid.ng-touched {
  -webkit-animation: bigger;
          animation: bigger;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin-bottom: 17px;
}

@-webkit-keyframes bigger {
  from {margin-bottom: 0;}
  to {margin-bottom: 17px;}
}

@keyframes bigger {
  from {margin-bottom: 0;}
  to {margin-bottom: 17px;}
}

mat-form-field.ng-valid.ng-touched {
  -webkit-animation: smaller;
          animation: smaller;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin-bottom: 0px;
}

@-webkit-keyframes smaller {
  from {margin-bottom: 17px;}
  to {margin-bottom: 0;}
}

@keyframes smaller {
  from {margin-bottom: 17px;}
  to {margin-bottom: 0;}
}

mat-error {
  text-align: left;
}

.mat-list-item-content {
  padding-left: 24px !important;
}


.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
